*{
    box-sizing: border-box;
}

html, body{
    padding: 0;
    margin: 2rem;
    background: #ddd;

}
.wrapper{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.measureband{
    background: url(./img/Untitled-3.png);
    background-position-x: calc(0 * -180px);
    background-position-y: calc(0 * -135px);
    width: 180px;
    height: 135px;   
}

.measureband.rotate{
    animation: rotate calc(9 x 100ms) steps(9) infinite alternate;
}

@keyframes rotate{
    from{
        background-position-x: calc(0 * 180px);
        background-position-y: calc(0 * 135px);
        }
    to{
        background-position-x: calc(9 * -180px);
        background-position-y: calc(0 * -135px);
    }
}



